.feedbackList{
    background-color: lightgoldenrodyellow;
    margin:0 auto;
    width:400px;
}
p{
    margin: 0 auto;
    text-align:center;
}

.slider{
    text-align: center;
    margin: 0 auto;
}

