.Mypage{
    width:100%;
    height:100%;
}
img{
    width:100px;
    height:100px;
    float:left;
    }
    
.css {
    font-family:"sans-serif",
}
.list{
    background-color:lightblue;
}

.userName{
    margin-right:10px;
    text-align: right;
}
.challengeList{
    padding-top:50px;

}